.swash-select-container {
  height: 40px;
  width: 144px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.swash-select {
  position: unset !important;
}

.swash-select-menu {
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  min-width: 144px;
  padding: 0px;
}

.swash-select-item {
  padding: 0px 0px 0px 16px !important;
  color: rgb(50, 50, 50) !important;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 28px;
}

.swash-select-item:focus,
.swash-select-item:hover,
.swash-select-item:active {
  color: rgb(50, 50, 50) !important;
  text-decoration: none;
  background-color: #efefef !important;
  outline: 0px;
}

.swash-select-arrow {
  background: rgb(255, 255, 255);
  height: 38px;
  width: 22px;
  vertical-align: middle;
  display: flex;
  float: right;
}

.swash-select-default {
  float: left;
  height: 40px;
  padding: 0px 0px 0px 16px !important;
  color: rgb(50, 50, 50) !important;
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 20px;
  vertical-align: middle;
  display: flex;
  line-height: 40px;
}

@media only screen and (max-width: 600px) {
  .swash-select-default {
    width: 50%;
  }
}
