/* roboto-mono-regular - latin */
@font-face {
  font-family: 'RobotoMono-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('statics/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono'), local('RobotoMono-Regular'), url('statics/fonts/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-mono-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-mono-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-mono-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-mono-500 - latin */
@font-face {
  font-family: 'RobotoMono-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('statics/fonts/roboto-mono-v7-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Mono Medium'), local('RobotoMono-Medium'), url('statics/fonts/roboto-mono-v7-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-mono-v7-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-mono-v7-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-mono-v7-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-mono-v7-latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('statics/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'), url('statics/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-v20-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-v20-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('statics/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'), url('statics/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-v20-latin-500.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-v20-latin-500.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-v20-latin-500.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-light - latin */
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  font-weight: 300;
  src: url('statics/fonts/Roboto-Light.ttf'); /* IE9 Compat Modes */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 900;
  src: url('statics/fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'), url('statics/fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-v20-latin-900.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-v20-latin-900.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-v20-latin-900.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto-Italic';
  font-style: italic;
  font-weight: 400;
  src: url('statics/fonts/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'), url('statics/fonts/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/roboto-v20-latin-italic.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/roboto-v20-latin-italic.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/roboto-v20-latin-italic.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBMPlexSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('statics/fonts/ibm-plex-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans'), local('IBMPlexSans'), url('statics/fonts/ibm-plex-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('statics/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('statics/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('statics/fonts/ibm-plex-sans-v7-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('statics/fonts/ibm-plex-sans-v7-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}

body {
  background-color: #fdfdfd;
}

/* Router style */

.swash-body-content {
  padding-top: 164px;
}

#swash-content {
  margin-left: 328px;
  min-height: calc(100vh);
}

/* SideNavigation style */

.list-group-flush {
  color: #495057;
  position: absolute;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  /*  background-color: #f8f9fa*/
}

.list-group-item:hover {
  color: #49505b;
  text-decoration: none;
  /*background-color: #f8f9fa*/
}

.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.activeClass .list-group-item {
  color: #323232;
}

#swash-sidebar-navigation-mobile {
  display: none;
}

.swash-sidebar-fixed {
  width: 328px;
  display: block;
  padding: 168px 0 0 144px;
}

.swash-sidebar-fixed a {
  outline: none;
}

.swash-position-fixed {
  position: fixed !important;
}

.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.swash-sidebar-logo {
  margin: 0px 0px 35px 0px;
  width: 40px;
  height: 40px;
}

.swash-sidebar-logo img {
  width: 40px;
  height: 40px;
}

.list-group.list-group-flush a {
  margin: 0;
  padding: 0;
}

.swash-sidebar-text {
  color: #b0b0b0;
  font-family: Roboto-Bold;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 32px;
  width: 72px;
  padding: 0px;
  border: 0px;
  background-color: #fdfdfd;
}

/* Wallet page style */

.swash-notification-bar {
  width: 680px;
}

.notification-span {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}

.swash-col {
  width: 680px;
  margin: 0;
  padding: 0;
}

.swash-setting-part {
  margin-bottom: 100px;
}

.swash-balance-block {
  background: rgb(248, 248, 248);
  height: 150px;
  width: 680px;
  position: relative;
  margin-bottom: 84px;
  padding: 60px;
  border-radius: 4px;
}

.swash-balance-text-column {
  padding-left: 40px;
  width: 50%;
  display: inline-block;
}

.swash-reveal-button {
  display: block;
  width: 32px !important;
  background-image: url('statics/images/more-icon.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 6px center !important;
}

.swash-balance-cumulative {
  color: rgb(50, 50, 50);
  font-size: 24px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 32px;
  display: contents;
}

.swash-row {
  width: 100%;
}

.swash-balance-text-bold {
  color: rgb(50, 50, 50);
  font-weight: 300;
  font-family: Roboto-Light;
  font-size: 48px;
  letter-spacing: 0px;
  line-height: 32px;
  display: contents;
}

.swash-balance-text {
  margin-bottom: 48px;
  color: rgb(82, 82, 82);
  font-size: 12px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
}

.swash-form-caption {
  margin-bottom: 8px;
  color: rgb(50, 50, 50);
  font-family: Roboto-Medium;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  letter-spacing: 0px;
  line-height: 16px;
}

.swash-form-input {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
  height: 40px;
  padding-left: 16px;
  color: #cdcdcd;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
  outline: none;
}

.swash-form-input:active {
  border-color: #0324ff;
  color: #cdcdcd;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
}

.swash-form-input:focus {
  border-color: #0324ff;
  color: #323232;
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
}

.swash-form-input-with-button {
  position: absolute;
}

.swash-form-input-button {
  border-radius: 2px;
  color: rgb(173, 173, 173);
  background: #ffffff;
  font-family: IBMPlexSans-Medium;
  font-size: 10px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0px;
  text-align: center;
  width: 48px;
  position: absolute;
  border-width: 0px;
  top: 8px;
  right: 8px;
}

.swash-form-input-button:focus {
  outline: 0px;
  background-color: #efefef;
}

.swash-form-input-button:hover:not(:focus) {
  background-color: #f8f8f8;
}

.swash-form-input-button:active {
  background-color: #efefef;
}

#swash-privateKey,
#swash-wallet {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 60px;
  width: 100%;
}

#swash-wallet {
  color: #323232;
  border-color: rgb(239, 239, 239);
  margin-bottom: 24px;
}

#swash-privateKey {
  color: #323232;
  border-color: rgb(239, 239, 239);
}

.swash-head {
  color: rgb(50, 50, 50);
  font-family: Roboto-Bold;
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 16px;
}

.swash-p {
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 74px;
}

.swash-video {
  width: 640px;
  height: 360px;
  margin: auto auto 74px auto;
}

.swash-share {
  display: flex;
  align-items: center;
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: justify;
}

.swash-share span {
  margin-left: 10px;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.swash-share button {
  border: none;
  outline: none;
}

.swash-share-twitter:hover {
  background-image: url('statics/images/logos/twitter.svg');
}

.swash-share-facebook:hover {
  background-image: url('statics/images/logos/facebook.svg');
}

.swash-share-linkedin:hover {
  background-image: url('statics/images/logos/linkedin.svg');
}

.swash-share-email:hover {
  background-image: url('statics/images/logos/email.svg');
}

.swash-share-twitter {
  background-image: url('statics/images/logos/twitter-gray.svg');
}

.swash-share-facebook {
  background-image: url('statics/images/logos/facebook-gray.svg');
}

.swash-share-linkedin {
  background-image: url('statics/images/logos/linkedin-gray.svg');
}

.swash-share-email {
  background-image: url('statics/images/logos/email-gray.svg');
}

.swash-video {
  width: 640px;
  height: 360px;
  margin: 20px auto 20px auto;
}

.swash-share {
  display: flex;
  align-items: center;
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: justify;
}

.swash-share span {
  margin-left: 10px;
  display: inline-block;
  height: 32px;
  width: 32px;
  background-repeat: no-repeat;
  transition: 0.3s;
}

.swash-share button {
  border: none;
  outline: none;
}

.swash-share-twitter:hover {
  background-image: url('statics/images/logos/twitter.svg');
}

.swash-share-facebook:hover {
  background-image: url('statics/images/logos/facebook.svg');
}

.swash-share-linkedin:hover {
  background-image: url('statics/images/logos/linkedin.svg');
}

.swash-share-email:hover {
  background-image: url('statics/images/logos/email.svg');
}

.swash-share-twitter {
  background-image: url('statics/images/logos/twitter-gray.svg');
}

.swash-share-facebook {
  background-image: url('statics/images/logos/facebook-gray.svg');
}

.swash-share-linkedin {
  background-image: url('statics/images/logos/linkedin-gray.svg');
}

.swash-share-email {
  background-image: url('statics/images/logos/email-gray.svg');
}

.swash-transfer-row {
  height: 80px;
}

.swash-transfer-column {
  float: left;
  margin-right: 16px;
}

.swash-referral-column {
  float: left;
  margin-right: 16px;
}

.swash-transfer-column li {
  height: 16px;
  color: rgb(163, 163, 163);
  font-size: 12px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 16px;
}

.swash-amount-column {
  width: 128px;
  height: 40px;
}

#swash-amount {
  width: 128px;
}

#swash-recipient {
  width: 416px;
  cursor: pointer;
}

.swash-filter-input {
  width: 100%;
}

.swash-transfer-link-button {
  width: 104px;
  height: 40px;
  color: rgb(255, 255, 255) !important;
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  margin-top: 24px;
  background-color: #243cdb;
  border-radius: 4px;
  text-align: center;
  display: block;
  line-height: 40px;
  border: unset;
}

.swash-transfer-link-button:focus {
  border: unset;
  outline: 0 !important;
}

.swash-transfer-link-button:disabled {
  background-color: rgb(36, 60, 219, 0.5) !important;
  cursor: default;
}

.swash-modal {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1051;
  position: fixed;
}

/*Style for Settings page */

.swash-table-row {
  height: 40px;
  background-color: #fdfdfd;
}

.swash-table-text {
  color: rgb(163, 163, 163);
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
  padding-left: 30px !important;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
  border: 1px solid #dee2e6;
}

#swash-advanced-page .swash-table-row {
  height: 60px;
}

#swash-advanced-page .swash-table-head-text {
  background-color: #fdfdfd;
  border: 0px;
  padding-bottom: 32px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
}

.swash-disabled-masked-text {
  width: 592px;
  height: 40px;
  background: rgb(245, 245, 245);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
  color: #323232;
}

.swash-delete-masked-text-td {
  width: 96px;
}

.swash-table-row:hover .swash-link-button {
  display: block;
}

.-swash-table-row:not(:hover) .swash-link-button {
  display: none;
}

.swash-link-button:hover {
  background: rgb(231, 231, 231);
  transform: scale(1.05);
}

.swash-link-button:active,
.swash-link-button:focus {
  background: rgb(216, 216, 216);
  transform: scale(0.95);
}

.swash-link-button {
  width: 72px !important;
  height: 40px;
  background-color: #efefef;
  border-radius: 4px;
  color: rgb(50, 50, 50) !important;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  text-align: center;
  padding: 8px;
  border: 0px;
  display: block;
}

.swash-mask-input {
  width: 592px;
}

#swash-advanced-page td {
  border: 0px;
}

#swash-advanced-page .swash-table-text {
  padding: 8px !important;
  border: 0px;
}

#swash-advanced-page .swash-table-row:hover input {
  border: 1px solid rgb(205, 205, 205);
}

#swash-advanced-page .swash-table-row:not(:hover) input {
  border: 1px solid rgb(239, 239, 239);
}

#swash-referral-link {
  width: 560px;
  cursor: pointer;
}

.swash-table-head-row {
  background-color: #f5f5f5;
  height: 40px;
  border: 1px solid #dee2e6;
}

#swash-advanced-page .swash-table-head-row {
  background-color: #fdfdfd;
  border: 0px;
}

.swash-table-text input {
  padding-right: 16px;
  padding-left: 16px;
  margin-top: 8px;
}

.swash-table-head-text {
  color: rgb(50, 50, 50);
  font-family: Roboto-Medium;
  font-weight: 500;
}

.swash-table-text-bold {
  color: rgb(50, 50, 50);
  font-family: Roboto-regular;
  font-weight: 500;
  width: 20%;
  padding-left: 35px !important;
}

.swash-add-mask-text-th {
  width: 100%;
  height: 90px;
  margin-top: 4px;
  margin-bottom: 4px;
  vertical-align: bottom;
}

.swash-disabled-masked-text-td {
  width: 100%;
}

.swash-delete-masked-text-td,
.swash-add-mask-button-th {
  width: 20%;
  margin-top: 28px;
  margin-bottom: 4px;
  vertical-align: bottom;
}

.swash-onboarding-export-div,
.swash-onboarding-import-div {
  text-align: center;
}

.swash-onboarding-export-option {
  display: inline-block;
  text-align: left;
  height: 124px;
  margin-right: 12px;
  margin-bottom: 24px;
}

.swash-onboarding-export-button {
  background: #f5f5f5;
  border: none;
  border-radius: 4px;
  display: inline-block;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 120px;
  text-decoration: none;
  font-family: Roboto-Regular;
  font-size: 14px;
}

.swash-onboarding-export-button figure {
  margin: 15px 0 15px 0;
  height: 40px;
}

.swash-onboarding-export-button .text {
  font-weight: bold;
  text-transform: uppercase;
  color: #1d368a;
  margin: 0 0 15px;
  font-size: 16px;
}

/*Style for Data page */

.swash-more-button {
  display: none;
  width: 32px;
  top: 21px;
  right: 70px;
  background-image: url('statics/images/more-icon.svg');
  background-repeat: no-repeat;
  background-position: 6px center;
}

.swash-accordion-head {
  color: rgb(50, 50, 50);
  position: relative;
  height: 72px;
  margin-bottom: 16px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
}

.swash-accordion-head-disabled {
  color: rgb(205, 205, 205);
}

.swash-accordion-head:hover:not(.swash-accordion-head-open) {
  border: 1px solid #cdcdcd;
}

.swash-accordion-head-open {
  border-bottom: 0px;
  border-color: rgb(239, 239, 239);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  margin-bottom: 0px;
}

.swash-accordion-body {
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
  border-top: 0px;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  padding: 24px;
  margin-bottom: 16px;
  background-color: #fff;
}

.swash-accordion-title {
  color: rgb(50, 50, 50);
  font-family: Roboto-Medium;
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  letter-spacing: 0px;
  line-height: 16px;
  top: 26px;
  left: 32px;
  position: absolute;
}

.swash-accordion-arrow {
  height: 32px;
  width: 32px;
  top: 16px;
  right: 32px;
  position: absolute;
}

.swash-accordion-arrow img {
  top: 16px;
  position: absolute;
  right: 0px;
}

.swash-accordion-domain {
  color: rgb(50, 50, 50);
  font-family: Roboto-Medium;
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  letter-spacing: 0px;
  line-height: 16px;
  top: 21px;
  left: 88px;
  position: absolute;
}

.swash-accordion-module {
  color: rgb(173, 173, 173);
  font-family: Roboto-Medium;
  font-size: 10px;
  font-weight: 500;
  height: 21px;
  letter-spacing: 1px;
  line-height: 24px;
  left: 88px;
  top: 32px;
  position: absolute;
}

.swash-accordion-delay {
  position: absolute;
  top: 68px;
  left: 0px;
  width: 100%;
  height: 3px;
}

.swash-accordion-text {
  background: rgb(248, 248, 248);
  border-radius: 0px 0px 2px 2px;
  color: rgb(50, 50, 50);
  font-family: IBMPlexMono;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 24px;
  padding-top: 15px;
  padding-left: 32px;
  padding-bottom: 25px;
  padding-right: 57px;
  margin-bottom: 16px;
}

.swash-accordion-icon {
  width: 24px;
  height: 24px;
  top: 24px;
  left: 32px;
  position: absolute;
}

.swash-accordion-checkbox {
  height: 32px;
  width: 32px;
  top: 20px;
  right: 64px;
  position: absolute;
}

.swash-accordion-delete {
  position: absolute;
  top: 24px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: url(statics/images/bin-gray.svg) no-repeat;
  border-width: 0px;
}

.swash-accordion-delete:hover {
  background: url(statics/images/bin-black.svg) no-repeat;
}

.swash-accordion-delete:focus {
  border: unset;
  outline: 0 !important;
}

.swash-setting-part-small {
  margin-bottom: 48px;
}

.swash-p2 {
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 37px;
}

.swash-p2 {
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  text-align: justify;
  margin-bottom: 26px;
}

.swash-delay-number-picker {
  width: 136px;
}

.swash-delay-number-picker:after {
  content: 'Minutes';
  margin-left: 8px;
  position: absolute;
  line-height: 40px;
}

/*Style for Help page */

#swash-help-page .swash-image {
  text-align: center;
}

.swash-image img {
  max-width: 640px;
}

#swash-help-page .swash-image-caption {
  width: 680px;
  line-height: 60px;
}

#swash-help-page .swash-gray-box {
  width: 680px;
}

#swash-help-page table {
  width: 100%;
}

#swash-help-page .swash-table-text {
  padding-left: 30px !important;
}

.swash-head2 {
  color: rgb(50, 50, 50);
  font-family: Roboto-Bold;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 16px;
}

.swash-head3 {
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-family: Roboto-Medium;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  margin-top: 48px;
  margin-bottom: 16px;
}

.swash-head4 {
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-family: Roboto-Medium;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  margin-bottom: 16px;
}

.swash-image-caption {
  color: rgb(164, 164, 164);
  font-family: Roboto-Italic;
  font-size: 14px;
  font-weight: italic;
  height: 60px;
  letter-spacing: 0px;
  line-height: 60px;
  text-align: center;
  width: 680px;
  margin-bottom: 60px;
}

.swash-help-table {
  margin-bottom: 120px;
}

.swash-help-table .swash-table-text {
  line-height: 23px;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  padding-left: 24px;

  color: rgb(50, 50, 50);
}

.swash-help-table-data-type-th {
  width: 111px;
}

.swash-help-table-no-privacy-th {
  width: 127px;
}

.swash-help-table-medium-privacy-th {
  width: 143px;
}

.swash-help-table-high-privacy-th {
  width: 159px;
}

.swash-gray-box {
  background: rgb(239, 239, 239);
  width: 680px;
  border-radius: 4px;
  padding: 32px;
  margin-bottom: 32px;
}

.swash-gray-box ul {
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 32px;
  padding-inline-start: 20px;
}

/*Style for onboarding */

.swash-radiobox {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border: 1.5px solid rgb(216, 216, 216);
  margin-top: 2px;
  display: inline-block;
  cursor: pointer;
}

.swash-radiobox-selected-outer {
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background: rgb(255, 255, 255);
  border: 1.5px solid rgb(3, 36, 255);
  float: left;
  margin-top: 2px;
  margin-right: 14px;
}

.swash-radiobox-selected {
  border-radius: 100%;
  width: 8px;
  height: 8px;
  margin: 20%;
  background: rgb(3, 36, 255);
}

.swash-transaction-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.swash-transaction-modal-large {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 392px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.swash-transaction-modal-header {
  width: 528px;
  height: 80px;
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  line-height: 80px;
  border-bottom: 2px solid rgb(242, 241, 241);
}

.swash-transaction-modal-body {
  width: 528px;
  height: 200px;
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 24px;
  display: table-cell;
  vertical-align: middle;
  border-bottom: 2px solid rgb(242, 241, 241);
  padding: 0px 48px;
}

.swash-transaction-modal-body-large {
  width: 528px;
  height: 230px !important;
  border-bottom: 0px !important;
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-family: Roboto-Regular;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 24px;
  padding: 0px 48px;
}

.swash-transaction-modal-body p {
  text-align: center;
  margin-top: 8px;
}

.swash-modal-body-text {
  letter-spacing: 0px;
  line-height: 24px;
  display: table-cell;
  margin-top: 16px;
  vertical-align: middle;
  text-align: center;
}

.swash-transaction-modal-body-large img {
  width: 40px;
  height: 40px;
  margin-bottom: 57px;
}

.swash-transaction-modal-button {
  width: 128px;
  height: 40px;
  background: rgb(36, 60, 219);
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  background-color: #0324ff;
  margin: 20px 6%;
  border-radius: 4px;
  line-height: 40px;
  float: right;
  cursor: pointer;
}

.swash-transaction-modal-button-waiting {
  opacity: 0.5;
  color: rgb(255, 255, 255, 0.5);
  background: no-repeat right url('statics/images/button-loading.svg') rgba(3, 36, 255, 0.5);
  background-size: 16px;
  background-position-x: calc(100% - 8px);
}

.swash-transaction-modal-button-waiting img {
  height: 16px;
  width: 16px;
  margin-left: 16px;
}

.swash-transaction-modal-button-cancel {
  height: 100%;
  cursor: pointer;
  float: right;
  font-size: 14px;
  font-family: Roboto-Regular;
  font-weight: normal;
}

.swash-transaction-modal-footer {
  width: 528px;
  height: 80px;
  line-height: 80px;
}

.swash-transaction-modal-footer-right {
  width: 100%;
  float: right;
  line-height: 80px;
}

.swash-transaction-modal-footer-right span {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
}

.swash-transaction-modal-footer-left {
  width: 50%;
  float: left;
  min-height: 80px;
}

.swash-transaction-modal-body-right span {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
}

.swash-transaction-modal-body-left {
  width: 106px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  margin-left: 31.25px;
}

.swash-transaction-modal-body-middle {
  width: 41px;
  float: left;
  display: table-cell;
  vertical-align: middle;
  margin-left: 31.25px;
  height: 60px;
  line-height: 60px;
}

.swash-transaction-modal-body-right {
  width: 160px;
  float: left;
  margin-left: 31.25px;
  display: table-cell;
  vertical-align: middle;
}

.swash-transaction-modal-body-text1 {
  color: rgb(50, 50, 50);
  font-size: 12px;
  font-family: Roboto-Medium;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 20px;
}

.swash-transaction-modal-body-text2 {
  color: rgb(50, 50, 50);
  font-size: 12px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 40px;
}

.swash-transaction-modal-body-text3 {
  color: rgb(50, 50, 50);
  font-size: 24px;
  font-family: Roboto-Light;
  font-weight: 300;
  letter-spacing: 0px;
  line-height: 32px;
}

#swash-onboarding-page {
  background-color: #fdfdfd;
  height: 100vh;
}

.swash-onboarding-iframe {
  visibility: hidden;
  position: absolute;
  border: 0px;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.swash-onboarding-iframe-wrapper {
  background: no-repeat center url('statics/images/page-loading.svg');
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.swash-onboarding-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 360px;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.swash-onboarding-box-big {
  height: 448px;
}

.swash-onboarding-box-header {
  width: 528px;
  height: 80px;
  color: rgb(50, 50, 50);
  font-size: 20px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  line-height: 80px;
  border-bottom: 2px solid rgb(242, 241, 241);
}

.swash-onboarding-box-body {
  width: 528px;
  height: 200px;
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-family: Roboto-Regular;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0px;
  line-height: 24px;
  padding: 0px 48px;
  display: table-cell;
  text-align: -webkit-center;
  vertical-align: middle;
  border-bottom: 2px solid rgb(242, 241, 241);
}

.swash-onboarding-box-body-big {
  height: 288px;
}

.swash-onboarding-text-gray {
  color: rgb(205, 205, 205);
  margin-left: 30px;
}

.swash-onboarding-box-body-radio {
  color: rgb(50, 50, 50);
  font-size: 16px;
  font-family: Roboto-Medium;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 24px;
  margin-left: 72px;
  text-align: left;
  margin-bottom: 14px;
}

.swash-onboarding-box-body-radio span {
  margin-left: 14px;
}

.swash-onboarding-proceed-button {
  width: 96px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  background-color: #0324ff;
  margin: 20px 32px;
  border-radius: 4px;
  line-height: 40px;
  float: right;
  cursor: pointer;
}

.swash-onboarding-proceed-disable-button {
  width: 96px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  background-color: rgba(3, 36, 255, 0.5);
  margin: 20px 32px;
  border-radius: 4px;
  line-height: 40px;
  float: right;
  cursor: pointer;
}

.swash-onboarding-start-button {
  width: 144px;
  height: 40px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-family: Roboto-Medium;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0px;
  background-color: rgb(3, 36, 255);
  margin: auto;
  border-radius: 4px;
  line-height: 40px;
  display: inline-block;
  cursor: pointer;
}

.swash-onboarding-box-footer {
  width: 528px;
  height: 80px;
  line-height: 80px;
}

.swash-onboarding-box-footer-right {
  width: 50%;
  float: left;
}

.swash-onboarding-box-footer-right span {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
}

.swash-onboarding-box-footer-left {
  width: 50%;
  float: left;
  min-height: 80px;
}

.swash-onboarding-box-footer-left-small {
  width: 100%;
  float: left;
  display: none;
  cursor: pointer;
}

.swash-onboarding-box-approve-wrapper {
  height: 24px;
  cursor: pointer;
  margin-top: 28px;
  line-height: 0px;
}

.swash-onboarding-box-footer-left .swash-checkbox {
  margin-left: 48px;
  margin-bottom: 32px;
  margin-right: 16px;
  line-height: 20px;
  float: left;
}

.swash-onboarding-box-footer-left span {
  color: rgb(50, 50, 50);
  font-size: 14px;
  font-family: Roboto-Regular;
  font-weight: normal;
  letter-spacing: 0px;
  line-height: 24px;
}

.swash-onbording-import-option {
  width: 96px;
  height: 124px;
  margin-right: 12px;
  display: inline-block;
  text-align: left;
}

.swash-onboarding-import-option-row {
  width: 100%;
  text-align: center;
  margin-bottom: 18px;
}

.swash-onbording-import-option img {
  margin-top: 26px;
  margin-bottom: 4px;
}

.swash-profile-box {
  display: flex;
  justify-content: center;
  width: 428px;
}

.swash-profile-select {
  flex: 0 0 25%;
  padding: 0 16px 0 16px;
}

.swash-more-button-active {
  background-color: #efefef !important;
}

.swash-text-green {
  color: rgb(42, 196, 55);
}

.swash-onboarding-select-container {
  height: 40px;
  width: 128px;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 4px;
  background: rgb(255, 255, 255);
}

.swash-onboarding-select-label {
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  height: 24px;
  letter-spacing: 0px;
  line-height: 24px;
  width: 125px;
  text-align: left;
  margin-bottom: 4px;
}
