body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #EDEDEE;
}

a{
  color: inherit;
}

.list-group-flush{
  color: #495057;
  position: absolute;
    right: 42px;
}

.active{
  background-color: #e9ecef ;
}

main {
  background-color: #FFF;
}

    input[type="checkbox"].switch {
        position: absolute;
        opacity: 0;
        width: 63px;
        height: 45px;
        cursor: pointer;

    }

    input[type="checkbox"].switch + div {
        vertical-align: middle;
        width: 50px;
        height: 25px;
        border-radius: 999px;
        background-color: #585252;
        -webkit-transition-duration: .4s;
        transition-duration: .4s;
        -webkit-transition-property: background-color, box-shadow;
        transition-property: background-color, box-shadow;
        cursor: pointer;
    }

    input[type="checkbox"].switch:checked + div {
        background-color: #1976d2 !important;
    }
    .general-api-logo{
            max-width: 150px;
    max-height: 150px;
    position: absolute;
    z-index: 9;
    right: 50px;
    top: 30px;
    opacity: .4;
    }
    #xx{
        padding: 0;
    width: 100%;
    }
    .disabled-card:after{
        content:'';
        position: absolute;
        left: 0;
        right: 0;
        z-index: 1049;
        top:0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.14);

    }

.switch-wrap{
    position:absolute
}
.module-title{
    text-align: center;
    font-weight: 600;
    font-size: 20px;
}
.back-bt{

    cursor: pointer;
}
#general-api-wrapper {
    position:relative
}
    input[type="checkbox"].switch + div > div {
        float: left;
        width: 22px;
        height: 22px;
        top:-15px;
        border-radius: inherit;
        background: #ffffff;
        -webkit-transition-timing-function: cubic-bezier(1, 0, 0, 1);
        transition-timing-function: cubic-bezier(1, 0, 0, 1);
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
        -webkit-transition-property: transform, background-color;
        transition-property: transform, background-color;
        pointer-events: none;
        margin-top: 1px;
        margin-left: 1px;
    }
.mg-tp-5{
    margin: 7px 20px;
    font-size: 18px;
    text-align: left;
}
/*table.table thead th{
    border-top: none;
    font-weight: 700;
    text-align: left;
    color: white;
    background-color: #585252;
}
table.table.btn-table td{
    text-align: left;
}*/
table .th-sm{
    width: 20%;
    min-width: 550px!important;
}
    input[type="checkbox"].switch:checked + div > div {
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
         background-color: #e7e7e7;
    }
    .enable-circle{
    top: 0;
    position: absolute;
    }
    .switch div{
        position:relative!important
    }
    .enable-circle{
        position:relative!important
    }
    .fa.fa-trash{
        font-size : 16px
    }
    .fa-arrow-alt-circle-left{
    font-size: 30px;    }
.module-logo-wr{
    text-align:left
}
#modules-row .card-body{
    cursor:pointer;
    transition : background-color .4s
}
#modules-row .card-body:hover{
    background-color : rgba(5, 116, 234, 0.14)
}

.module-wr{
    width : 50%;
    display: inline-block;
    font-size:16px;
   
}
.module-logo-wr img{
    width : 50px;
    height : auto
}
.profile-img i{font-size: 50px;
  margin: 15px 0!important;
}
.md-form i {
  left: 0;
}
.input-p{
  text-align: left;
  font-size: small;
  color: #827575;
}
.input-title{
  text-align: left;
  display: inline-block;
  width: 100%;
}

.navbar-light {
	display: none;
}

.navbar-brand{
  margin-left: 15px;
  color: #2196f3 !important;
}

.sidebar-fixed {
  left: 0;
  top: 0;
  height: 100vh;
  width: 270px;
  /*box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);*/
  z-index: 1050;
  background-color: #fff;
  padding: 1.5rem;
  padding-top: 164px;
}
.list-group.list-group-flush a{
  margin: 0px 0px;
  padding: 0px;


}

.flexible-navbar {
  transition: padding-left 0.5s;
  padding-left: 270px;
  background: #fff;
}

#content{
  margin-left: 270px;
  min-height: calc(100vh);
}


.sidebar-fixed .logo-wrapper img{
  width: 100%;
  padding: 2.5rem;
}

.list-group-item {
  display: block !important;
  transition: background-color 0.3s;
}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
/*  background-color: #f8f9fa*/


}

.list-group-item:hover {
  color: #49505B;
  text-decoration: none;
  /*background-color: #f8f9fa*/
}


.list-group .active {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px;
}

.card-title{
  font-size: 1.5rem;
  font-weight: 600;
}

.card-subtitle{
  font-size: 1.25rem;
  font-weight: 600;
}

.full {
  height: 70vh;
}

.bad-gateway-row {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 55%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}


.card .view.gradient-card-header {
  padding: 1rem 1rem;
  text-align: center;
}

.card h3, .card.card-cascade h4 {
  margin-bottom: 0px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  box-shadow: 0 2px 9px 0 rgba(0, 0, 0, 0.2), 0 2px 13px 0 rgba(0, 0, 0, 0.19);
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}
.admin-up .data p {
  color: #999999;
  font-size: 12px;
}
.classic-admin-card .card-body {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}
.classic-admin-card .card-body p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}
.classic-admin-card .card-body h4 {
  margin-top: 10px;
}

.form-inline{
  flex-flow: unset
}

.breadcrumb{
  margin: 0;
}

.activeClass .list-group-item {
  color: #323232
  /*z-index: 5;
  color: #fff;
  border-color: #007bff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  border-radius: 5px !important;
  background-color: #007bff !important;*/
}

.page-footer{
  margin-left: 270px;
}

@media (max-width: 1199.98px) {
  .sidebar-fixed {
    display: none;
  }
  .flexible-content {
    padding-left: 0;
  }
  .flexible-navbar {
    padding-left: 10px;
  }

  #content{
    margin-left: 0px;
  }

  .page-footer{
    margin-left: 0px;
  }

  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }
  .navbar-light {
	display: block;
  }
}


@media (max-width: 576px) {
  .card.cascading-admin-card {
    margin-top: 2.5rem;
  }

  #breadcrumb{
    flex-direction: column;
  }
}
.sidebar-fixed{

  background-color: #fff;
}
.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #8a8a8a;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.form-check-input[type=checkbox].filled-in:not(:checked)+label:after, label.btn input[type=checkbox].filled-in:not(:checked)+label:after {
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: 2px solid #5a5a5a;
  top: 0;
  z-index: 0;
}
.form-check-input[type=checkbox].filled-in+label:after, .form-check-input[type=checkbox].filled-in+label:before, label.btn input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  -o-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  z-index: 1;
}
.form-check-input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:after {
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
}



/*[type=checkbox]:checked, [type=checkbox]:not(:checked) {
   position: absolute;
   opacity: 0;
   pointer-events: none;
 }*/
.form-check-inline .form-check-input {
  position: static;
  margin-top: 0;
  margin-right: .3125rem;
  margin-left: 0;
}
input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.form-check-input {
  position: absolute;
  margin-top: .3rem;
  margin-left: -1.25rem;
}
.form-control {
  /* display: block; */
  /* width: 100%; */
  /* height: calc(2.25rem + 2px); */
  /* padding: .375rem .75rem; */
  /* font-size: 1rem; */
  /* font-weight: 400; */
  /* line-height: 1.5; */
  /* color: #495057; */
  /* background-color: #fff; */
  /* background-clip: padding-box; */
  /* border: 1px solid #ced4da; */
  /* border-radius: .25rem; */
  /* transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}
button, input {
  overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
input[type="checkbox" i] {
  -webkit-appearance: checkbox;
  box-sizing: border-box;
}
user agent stylesheet
input[type="radio" i], input[type="checkbox" i] {
  background-color: initial;
  cursor: default;
  margin: 3px 0.5ex;
  padding: initial;
  border: initial;
}
user agent stylesheet
input {
  -webkit-appearance: textfield;
  background-color: white;
  -webkit-rtl-ordering: logical;
  cursor: text;
  padding: 1px;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
user agent stylesheet
input, textarea, select, button {
  text-rendering: auto;
  color: initial;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  margin: 0em;
  font: 400 11px system-ui;
}
.form-check-input[type=checkbox].filled-in+label:after, .form-check-input[type=checkbox].filled-in+label:before, label.btn input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  -o-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  z-index: 1;
}
.form-check-input[type=checkbox].filled-in:not(:checked)+label:before, label.btn input[type=checkbox].filled-in:not(:checked)+label:before {
  width: 0;
  height: 0;
  border: 3px solid transparent;
  left: 6px;
  top: 10px;
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotate(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #8a8a8a;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 1.375rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #4285f4;
  border-bottom: 2px solid #4285f4;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-check-input[type=checkbox].filled-in+label:after, .form-check-input[type=checkbox].filled-in+label:before, label.btn input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  -o-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  z-index: 1;
}
.form-check-input[type=checkbox].filled-in:checked+label:before, label.btn input[type=checkbox].filled-in:checked+label:before {
  top: 0;
  left: 1px;
  width: 8px;
  height: 13px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  -webkit-transform: rotateZ(37deg);
  -ms-transform: rotate(37deg);
  transform: rotateZ(37deg);
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-check-input[type=checkbox]+label, label.btn input[type=checkbox]+label {
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  display: inline-block;
  height: 1.5625rem;
  line-height: 1.5625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.form-check-label {
  margin-bottom: 0;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
}
*, ::after, ::before {
  box-sizing: border-box;
}
user agent stylesheet
label {
  cursor: default;
}
body {
  font-family: Roboto,sans-serif;
  font-weight: 300;
}
body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}.form-check-input[type=checkbox].filled-in:checked+label:before, label.btn input[type=checkbox].filled-in:checked+label:before {
   top: 0;
   left: 1px;
   width: 8px;
   height: 13px;
   border-top: 2px solid transparent;
   border-left: 2px solid transparent;
   border-right: 2px solid #fff;
   border-bottom: 2px solid #fff;
   -webkit-transform: rotateZ(37deg);
   -ms-transform: rotate(37deg);
   transform: rotateZ(37deg);
   -webkit-transform-origin: 100% 100%;
   -ms-transform-origin: 100% 100%;
   transform-origin: 100% 100%;
 }
.form-check-input[type=checkbox].filled-in+label:after, .form-check-input[type=checkbox].filled-in+label:before, label.btn input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  -o-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  z-index: 1;
}
.form-check-input[type=checkbox]:checked+label:before, label.btn input[type=checkbox]:checked+label:before {
  top: -4px;
  left: -5px;
  width: 12px;
  height: 1.375rem;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid #4285f4;
  border-bottom: 2px solid #4285f4;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  transform-origin: 100% 100%;
}
.form-check-input[type=checkbox]+label:before, .form-check-input[type=checkbox]:not(.filled-in)+label:after, label.btn input[type=checkbox]+label:before, label.btn input[type=checkbox]:not(.filled-in)+label:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 18px;
  height: 18px;
  z-index: 0;
  border: 2px solid #8a8a8a;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  margin-top: 3px;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}.form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
   top: 0;
   width: 20px;
   height: 20px;
   border: 2px solid #a6c;
   background-color: #a6c;
   z-index: 0;
 }
.form-check-input[type=checkbox].filled-in+label:after, .form-check-input[type=checkbox].filled-in+label:before, label.btn input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:before {
  content: '';
  left: 0;
  position: absolute;
  -webkit-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  -o-transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  transition: border .25s,background-color .25s,width .2s .1s,height .2s .1s,top .2s .1s,left .2s .1s;
  z-index: 1;
}
.form-check-input[type=checkbox].filled-in+label:after, label.btn input[type=checkbox].filled-in+label:after {
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
}
#facebook-page .form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #3b5998;
  background-color: #3b5998;
  z-index: 0;
}
#facebook-page label,#facebook-page h4{
  color: #0138a9;
}
#facebook-page-bg{
  position: absolute;
  z-index: 9;
  right: 30px;
  font-size: 130px;
  color: #6b82b1;
  opacity: .4;
  top: 30px;
}#amazon-page-bg{
  position: absolute;
  z-index: 9;
  right: 30px;
  font-size: 130px;
  color: #000000;
  opacity: .4;
  top: 30px;
}
#amazon-page .form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #ff9900;
  z-index: 0;
}
#amazon-page .fa-edit{
  color: #ff9900;
  cursor: pointer;
}

.nav-bar-wrapper {
  background: transparent;
  position: relative;
  margin: auto;
  left: 0;
  top: 40px;
  width: 100%;
  right: 0;
  display: inline-flex;

}

.nav-bar-line {
  width: 90%;
  position: absolute;
  border-bottom: 3px solid #00000061;
  right: -38px;
  top: -3px;
}
.nav-selected{
  border: 5px solid green;
}
.nav-bar-line.active {
  border-bottom: 3px solid #57b300;
}
.n-v-w {
  left: 0;
  padding-bottom: 35px;
  position: relative;
    max-width: 500px;
  text-align: center;
  right: 0;
}
.nav {
  padding: 5px;
  display: inline-flex;
  width: 150px;
  position: relative;
}
.nav-h {
  display: flex;
  width: 18px;
  height: 18px;
  left: 0;
  color: transparent;
  margin: auto;
  cursor: pointer;
  right: 0;
  top: -10px;
  z-index: 9;
  text-align: center;
  padding: 0 4px;
  background: white;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.32);

  /*border: 2px solid;*/
  position: absolute;
  border-radius: 100%;
}

.nav .nav-title {
  width: 100%;
  text-align: center;
  padding-top: 15px
}

.active .nav-h {
  /*box-shadow: 0  0  0  15px rgba(0, 0, 0, 0.1);*/
  width: 35px;
  /*padding: 5px 11px;*/
  height: 35px;
  top: -19px;
  box-shadow: 0 0 7px 2px rgb(36, 132, 16)

}

.nav-h.ok {
  color: transparent;
  box-shadow: 0 0 7px 2px rgb(0, 112, 54);
  transition: opacity .4s !important;
  background: green;
}
.back-bt .fa{
    font-size: 20px;
    padding-top: 5px;}
.nav-h i {
  font-size: 20px;
  padding-top: 5px;
  color: #7d6369;
}
.general-api-logo-2{
    width:35px;

}
#profile .card{
    height: 405px;
    overflow: auto;
}
.nav-h .fa-wallet {
  padding: 7px 3px;
}
#sssfj .btn.btn-sm{
    padding: 0.5rem 1rem;

}
.nav-h .fa-tasks {
  padding: 7px 3px;
}

.nav-h .fa-map-marker-alt {
  padding: 7px 6px;
}

.nav-h .fa-fingerprint {
  padding: 8px 3px;
}

.nav-h .fa-handshake {
  padding: 8px 1px;
  color: green;
}
#amazon-page .nav-h.ok {
  color: transparent;
  box-shadow: 0 0 7px 2px rgb(255, 153, 0);
  transition: opacity .4s !important;
  background: #ff9900;
}
#amazon-page .nav-selected{
  border: 5px solid #ff9900;
}
#amazon-page .nav-bar-line.active{
  border-bottom: 3px solid black;

}
#facebook-page .nav-h.ok {
  color: transparent;
  box-shadow: 0 0 7px 2px #3b5998;
  transition: opacity .4s !important;
  background: #3b5998;
}
#facebook-page .nav-selected{
  border: 5px solid #3b5998;
}
#facebook-page .nav-bar-line.active{
  border-bottom: 3px solid black;

}#youtube-page .nav-h.ok {
  color: transparent;
  box-shadow: 0 0 7px 2px #ff1318;
  transition: opacity .4s !important;
  background: #ff1318;
}
#youtube-page .nav-selected{
  border: 5px solid #ff1318;
}
#youtube-page .nav-bar-line.active{
  border-bottom: 3px solid black;

}#youtube-page .form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
   top: 0;
   width: 20px;
   height: 20px;
   border: 2px solid #ff1318;
   background-color: #ff1318;
   z-index: 0;
 }
#youtube-page label,#youtube-page h4{
  color: #525252;
}
#youtube-page-bg{
  position: absolute;
  z-index: 9;
  right: 30px;
  font-size: 130px;
  color: rgba(255, 19, 24, 0.79);
  opacity: .4;
  top: 30px;
}

enabled{
        display: none;
        position: absolute;
        pointer-events: none;
        font-size: 12px;
        top: 7px;
        left: 22px;
    }
    .disabled{
        /*display: none;*/
        position: absolute;
        pointer-events: none;
        font-size: 12px;
        top: 7px;
        left: 52px;
    }
    input[type="checkbox"].switch:checked + div .disabled {
            display: none;
    }input[type="checkbox"].switch:checked + div .enabled {
            display: block;
    }

    .combo-box {
        border: none;
        min-width: 100%;
        box-shadow: 0 0 1px 1px #5a68b1;
    }
    .switch{
        z-index: 99999!important;
    pointer-events: all!important;
}
    #manual-row .card .col-md-12.col-lg-12{
        max-height: 5rem;
        overflow: hidden;
        transition: .5s;
    }
    .manual-page-arrow{
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 9999;
        font-size: 24px;
        padding: 10px;
        cursor: pointer;
    }
    .full-expand{
        max-height: 999999px!important;
        transition: max-height .4s;
    }
	.save-bt-fix{
        z-index: 99999999999;
        position: fixed;		
        right: 25px;
        bottom: 25px;
	}
    .save-bt-fix .fa-save{
        padding: 15px;
        font-size: 36px;
        cursor: pointer;
        color: white;
        background: #585252;
        transition: .4s background-color;
        border-radius: 100%;
    }.save-bt-fix .fa-save:hover{
        background: #585252;
    }
	.save-bt-fix .fa-caret-left{
        padding: 15px 1px 15px 0px;
        font-size: 36px;
        cursor: pointer;
        color: #585252;
	}
	.checkall{
		box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
		background-color: #fff;		
		border: 1px solid #ebebeb;
		padding: .5rem .75rem;
		border-radius: .25rem;
		float: left
	}
.form-check-input[type=checkbox].filled-in:checked+label:after, label.btn input[type=checkbox].filled-in:checked+label:after {
  top: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #000;
  background-color: #ff9900;
  z-index: 0;
}

/*table.table th, table.table td{
    padding: 5px!important;
}*/
.disabled-module{
    background-color: gray;
}
#manual-row td ,#manual-row th{
    padding: 5px;
    text-align: center;
    border: 1px solid ;
}#manual-row th{
    font-weight: 700;
  }
#manual-row table{
    margin: auto;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}#manual-row h1 ,#manual-row h2 ,#manual-row h3,#manual-row h4 ,#manual-row h5 ,#manual-row h6{
    margin-bottom: .8rem;


}
.message-icon{
    max-width: 30px;
    max-height: 40px;
}

.card-title .btn.btn-sm {
    padding: 0;
    box-shadow: 0 0 0 0;
}

.modal-header {
	background-color: #f7f7f7;
	padding: .5rem .75rem;
	border-bottom: 1px solid #ebebeb;
	border-top-left-radius: calc(.3rem - 1px);
	border-top-right-radius: calc(.3rem - 1px);
}
.modal-title{
	font-weight: 400;
	font-size: 1rem;
}
.modal-body{
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-align: start;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    font-size: .875rem;
    word-wrap: break-word;
}

.text-highlight {
	font-size: 1rem;
	font-weight:600;
	color: #585252;
}


#profile .view, #about .view, .view.view-custom-header{
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
}




















/* roboto-mono-regular - latin */
        @font-face {
          font-family: 'RobotoMono-Regular';
          font-style: normal;
          font-weight: 400;
          src: url('statics/fonts/roboto-mono-v7-latin-regular.eot'); /* IE9 Compat Modes */
          src: local('Roboto Mono'), local('RobotoMono-Regular'),
               url('statics/fonts/roboto-mono-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('statics/fonts/roboto-mono-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
               url('statics/fonts/roboto-mono-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
               url('statics/fonts/roboto-mono-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
               url('statics/fonts/roboto-mono-v7-latin-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
        }
        /* roboto-mono-500 - latin */
        @font-face {
          font-family: 'RobotoMono-Medium';
          font-style: normal;
          font-weight: 500;
          src: url('statics/fonts/roboto-mono-v7-latin-500.eot'); /* IE9 Compat Modes */
          src: local('Roboto Mono Medium'), local('RobotoMono-Medium'),
               url('statics/fonts/roboto-mono-v7-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
               url('statics/fonts/roboto-mono-v7-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
               url('statics/fonts/roboto-mono-v7-latin-500.woff') format('woff'), /* Modern Browsers */
               url('statics/fonts/roboto-mono-v7-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
               url('statics/fonts/roboto-mono-v7-latin-500.svg#RobotoMono') format('svg'); /* Legacy iOS */
        }

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto-Regular';
  font-style: normal;
  font-weight: 400;
  src: url('statics/fonts/roboto-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('statics/fonts/roboto-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('statics/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('statics/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('statics/fonts/roboto-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('statics/fonts/roboto-v20-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('statics/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('statics/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('statics/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('statics/fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('statics/fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('statics/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
  font-family: 'Roboto-Bold';
  font-style: normal;
  font-weight: 900;
  src: url('statics/fonts/roboto-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: local('Roboto Black'), local('Roboto-Black'),
       url('statics/fonts/roboto-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('statics/fonts/roboto-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('statics/fonts/roboto-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('statics/fonts/roboto-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('statics/fonts/roboto-v20-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-italic - latin */
@font-face {
  font-family: 'Roboto-Italic';
  font-style: italic;
  font-weight: 400;
  src: url('statics/fonts/roboto-v20-latin-italic.eot'); /* IE9 Compat Modes */
  src: local('Roboto Italic'), local('Roboto-Italic'),
       url('statics/fonts/roboto-v20-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('statics/fonts/roboto-v20-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('statics/fonts/roboto-v20-latin-italic.woff') format('woff'), /* Modern Browsers */
       url('statics/fonts/roboto-v20-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('statics/fonts/roboto-v20-latin-italic.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* ibm-plex-sans-regular - latin */
@font-face {
  font-family: 'IBMPlexSans-Medium';
  font-style: normal;
  font-weight: 400;
  src: url('statics/fonts/ibm-plex-sans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('IBM Plex Sans'), local('IBMPlexSans'),
       url('statics/fonts/ibm-plex-sans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('statics/fonts/ibm-plex-sans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('statics/fonts/ibm-plex-sans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('statics/fonts/ibm-plex-sans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('statics/fonts/ibm-plex-sans-v7-latin-regular.svg#IBMPlexSans') format('svg'); /* Legacy iOS */
}


.side-bar-text{
color: #b0b0b0;
font-family: Roboto-Bold;
font-size: 16px;
font-weight: bold;
letter-spacing: 0px;
line-height: 32px;
width: 72px;
}

.side-bar-text{
  padding: 0px;
  border: 0px;
}

.side-bar-button{
  height: 29px;
width: 91px;
}


.content-padding{
  padding-left: 100px;
  padding-top: 164px;
}

.swash-head{
  color: rgb(50, 50, 50);
font-family: Roboto-Bold;
font-size: 24px;
font-weight: bold;
padding-bottom: 16px;
}

.swash-head2{
  color: rgb(50, 50, 50);
font-family: Roboto-Bold;
font-size: 20px;
font-weight: bold;
padding-bottom: 16px;
}

.swash-p {

  color: rgb(50, 50, 50);
font-family: Roboto-Regular;
font-size: 16px;
text-align: justify;

margin-bottom: 68px;
}

.swash-col{
width: 680px;

}

.setting-part{
  margin-bottom: 160px;
}

.graybox{
background: rgb(241, 241, 241);
width: 680px;
  border-radius: 4px;
  padding: 32px;
}

.graybox ul {
  color: rgb(50, 50, 50);
font-family: Roboto-Regular;
font-size: 16px;
font-weight: normal;
letter-spacing: 0px;
line-height: 32px;
padding-inline-start: 20px;
}

.balance-block{
background: rgb(241, 241, 241);
height: 80px;
width: 680px;
position: relative;
}


.withdraw-block{
background: rgb(245, 245, 245);
}

.block-top-corner-radius{
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.block-bottom-corner-radius{
  border-bottom-left-radius:  4px;
  border-bottom-right-radius : 4px;
}

.form-caption{
  margin-bottom: 8px;
  margin-top: 32px;

box-shadow: ;
color: rgb(50, 50, 50);
font-family: Roboto-Medium;
font-size: 12px;
font-weight: 500;
height: 16px;
letter-spacing: 0px;
line-height: 16px;
}

.form-input{
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
  height: 40px;
  padding-left: 16px;
}

.form-input-with-button{
  position: absolute;

}

.form-input-button{
  border-radius: 2px;
  box-shadow: ;
  color: rgb(173, 173, 173);
  background: #FFFFFF;
  font-family: IBMPlexSans-Medium;
  font-size: 10px;
  font-weight: 500;
  height: 24px;
  letter-spacing: 0px;
  text-align: center;
  width: 48px;
  position: absolute;
  border-width: 0px;
  top: 8px;
  right: 4px;
}

.form-input-button:focus{
	outline: 0px;  
	background: #EFEFEF;
  }
  
.form-input-button:hover:not(:focus){
	background: #F8F8F8;
}

.form-input-button:active{
	background: #EFEFEF;
}

.more-button{
	height: 24px;
	width: 32px;
	top: 8px;
}

.balance-cumulative {
  color: rgb(82, 82, 82);
font-family: Roboto-Regular;
font-size: 12px;
font-weight: normal;
height: 37px;
letter-spacing: 0px;
line-height: 20px;
text-align: right;
width: 144px;

position: absolute;
right: 24px;
top: 24px;
}

.withdraw-btn{

position: absolute;
right: 24px;
top: 24px; 
}

.withdraw-btn a{
  color: rgb(50, 50, 50);
font-family: IBMPlexSans-Medium;
font-size: 12px;
font-weight: 500;
height: 32px;
letter-spacing: 0px;
line-height: 32px;
text-align: center;
width: 112px;
border-radius: 4px;
border: 1px solid rgb(82, 82, 82);
display: block;

}

  .balance-text{
    margin-top: 24px;
    margin-left: 32px;
    position: absolute;
        color: rgb(82, 82, 82);
font-family: Roboto-Regular;
font-size: 12px;
letter-spacing: 0px;
line-height: 32px;

  }

.balance-text-bold{
font-size: 24px;
font-weight: 500;
  }

.table-text{
  color: rgb(163, 163, 163);
font-family: Roboto-Regular;
font-size: 14px;
font-weight: normal;
letter-spacing: 0px;
line-height: 40px;
padding-left: 40px;
    padding-bottom: 0px!important;
    padding-top: 0px!important;
border: 1px solid #dee2e6;

}

.table-text input{
  padding-right: 16px;
  padding-left: 16px;
}

.table-head-text{
  color: rgb(50, 50, 50);
font-family: Roboto-Medium;
font-weight: 500;
}

.table-head-row{
  background-color: #f5f5f5;
  height: 40px;
  border: 1px solid #dee2e6;;
}

.table-row{
  height: 40px;
  background-color: #fff;
  
  }

.setting-part img{
}

.image-caption{
  color: rgb(164, 164, 164);
  font-family: Roboto-Italic;
  font-size: 14px;
  font-weight: italic;
  height: 60px;
  letter-spacing: 0px;
  line-height: 60px;
  text-align: center;
  width: 680px;
  margin-bottom: 60px;
}

.help-table{
  margin-bottom: 120px;
}

.help-table .table-text{
  line-height: 23px;
    padding-top: 12px!important;
    padding-bottom: 12px!important;
    padding-left: 24px;

    color: rgb(50, 50, 50);
}

.delayNumberPicker{
  width: 136px;
  float: left;
}


.accordion-head{
  color: rgb(50, 50, 50);
  position: relative;
  height: 72px; 
  margin-top: 16px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
}

.accordion-head-disabled{
  color:  rgb(205, 205, 205); 
}


.accordion-head:hover:not(.accordion-head-open){
  border: 1px solid #CDCDCD;
}


.accordion-head-open{
    border-bottom: 0px;
    border-color: rgb(239, 239, 239);
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.accordion-body{
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
    border-top: 0px; 
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    padding: 24px
}

.accordion-domain{
  color: rgb(50, 50, 50);
  font-family: Roboto-Medium;
  font-size: 16px;
  font-weight: 500;
  height: 18px;
  letter-spacing: 0px;
  line-height: 16px;
  top: 21px;
  left: 88px;
  position: absolute;
}

.accordion-module{
  color: rgb(173, 173, 173);
  font-family: Roboto-Medium;
  font-size: 10px;
  font-weight: 500;
  height: 21px;
  letter-spacing: 1px;
  line-height: 24px;
  left: 88px;
  top: 32px;
  position: absolute;
}

.accordion-delay{
  position: absolute;
  top: 68px;
  left: 0px;  
  width: 100%;
  height: 3px;
}

.accordion-text{
  background: rgb(248, 248, 248);
  border-radius: 0px 0px 2px 2px;
  color: rgb(50, 50, 50);
  font-family: IBMPlexMono;
  font-size: 12px;
  letter-spacing: 0px;
  line-height: 24px;
  padding-top: 15px;
  padding-left: 32px;
  padding-bottom: 25px;
  padding-right: 57px;


}

.accordion-icon{
  width: 24px;
  height: 24px;
  top:24px;
  left: 32px;
  position: absolute;
}

.accordion-module-icon{
  width: 24px;
  height: 24px;
  top:24px;
  left: 24px;
  position: absolute; 
}

.accordion-checkbox{
  height: 32px;   
  width: 32px;
  top: 20px;
  right: 64px;
  position: absolute;
}

.accordion-switch{
  height: 15px;
  width: 27px;
  top: 20px;
  right: 24px;
  position: absolute;
}

.accordion-module-name{  
font-family: Roboto-Medium;
font-size: 14px;
font-weight: 500;
height: 24px;
letter-spacing: 1.5px;
width: 72px;
position: absolute;
top: 24px;
left: 72px;
}

.accordion-delete {
  position: absolute;
  top: 24px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: url(statics/images/bin-gray.svg) no-repeat;
  border-width: 0px;
}

.accordion-delete:hover {
  background: url(statics/images/bin-black.svg) no-repeat;
}

/*
.accordion-checkbox-view{
  height: 32px;   
  width: 32px;
  top: 20px;
  right: 64px;
  position: absolute;
  background-color: red
}

*/



#advanced-page td {
  border: 0px;  
}

#advanced-page .table-text {
  
  padding: 8px !important;  
}


#advanced-page .table-row:hover input{
  border: 1px solid rgb(205, 205, 205);
}

#advanced-page .table-row:not(:hover) input{
  border: 1px solid rgb(239, 239, 239);
}

#advanced-page .table-row:hover .linkbutton{
  display: block;
}

#advanced-page .table-row:not(:hover) .linkbutton{
  display: none;
}

.linkbutton:hover{
  background: rgb(231, 231, 231);
}

.linkbutton:active{
  background: rgb(216, 216, 216);
}

.linkbutton{
    width: 72px !important;
  height: 40px;
  background-color: #efefef;
  border-radius: 4px;
  color: rgb(50, 50, 50) !important;
  font-family: Roboto-Medium;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  text-align: center;
  padding: 8px;
  border: 0px;
  display: block
}

#advanced-page .table-row .disabledMatchingType{
  width: 144px;
  height: 40px;
  background: rgb(245, 245, 245);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
}

#advanced-page .table-row .disabledMaskedText{
  width: 592px;
  height: 40px;
  background: rgb(245, 245, 245);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
}


.mask-input{
  width: 592px;
}

.filter-input{
  width: 432px;
}

#advanced-page .table-row .disabledUrl{
  width: 432px;
  height: 40px;
  background: rgb(245, 245, 245);
  border-radius: 4px;
  border: 1px solid rgb(239, 239, 239);
}

#advanced-page .table-head-row{
  background-color: #fff;
  border: 0px;
}

#advanced-page .table-head-row {
  background-color: #fff;
  border: 0px;

}

#advanced-page .table-row {

  height: 60px;
  
}

#advanced-page .table-head-text {
  background-color: #fff;
  border: 0px;
  padding-bottom: 32px;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px; 
}

#advanced-page .table-head-text select {
  width: 144px;
}



.privacy-block{
  background: rgb(245, 245, 245);
  border-radius: 4px;
  height: 144px;
  width: 681px;
  margin-bottom: 56px;
  padding: 36px;
  position: relative;
}

.privacy-label {
  color: rgb(163, 163, 163);
  font-family: Roboto-Medium;
  font-size: 12px;
  font-weight: 500;
  height: 16px;
  letter-spacing: 1.5px;
  line-height: 16px;
  text-align: left;
  width: 49px;
}

.privacy-label-selected{
  color: rgb(50, 50, 50);
}

.privacy-range {
  width: 100%;
}


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 24px 0;
  background-color: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(13, 13, 13, 0.02);
  background: #ff5c00;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0.7px 0.7px 3.3px rgba(0, 0, 0, 0.67), 0px 0px 0.7px rgba(13, 13, 13, 0.67);
  border: 11px solid #ffffff;
  height: 32px;
  width: 32px;
  border-radius: 18px;
  background: #ff5c00;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -17.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ff6c1a;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(13, 13, 13, 0.02);
  background: #ff5c00;
  border-radius: 0px;
  border: 0px solid rgba(1, 1, 1, 0);
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0.7px 0.7px 3.3px rgba(0, 0, 0, 0.67), 0px 0px 0.7px rgba(13, 13, 13, 0.67);
  border: 10px solid #ffffff;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ff5c00;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #e65300;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(13, 13, 13, 0.02);
}
input[type=range]::-ms-fill-upper {
  background: #ff5c00;
  border: 0px solid rgba(1, 1, 1, 0);
  border-radius: 0px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.02), 0px 0px 1px rgba(13, 13, 13, 0.02);
}
input[type=range]::-ms-thumb {
  box-shadow: 0.7px 0.7px 3.3px rgba(0, 0, 0, 0.67), 0px 0px 0.7px rgba(13, 13, 13, 0.67);
  border: 10px solid #ffffff;
  height: 36px;
  width: 36px;
  border-radius: 18px;
  background: #ff5c00;
  cursor: pointer;
  height: 1px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ff5c00;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ff6c1a;
}




.privacy-selector-wrapper {
  background: transparent;
  position: absolute;
  width: 600px;
  top: 64px;
}

.privacy-nav-bar-line {
  width: 100%;
  position: absolute;
  border-bottom: 3px solid #00000061;
  right: 0px;
  top: 0px;
}
.privacy-nav-selected0{
  border: 11px solid #ff0f2d;
  margin-top: -8px!important;
  margin-left: -10px!important;
}
.privacy-nav-selected1{
  border: 11px solid #ff5c00;
  margin-top: -8px!important;
  margin-left: -10px!important;
}
.privacy-nav-selected2{
  border: 11px solid #2ac437;
  margin-top: -8px!important;
  margin-left: -10px!important;
}
.privacy-nav-bar-line.active0 {
  border-bottom: 3px solid #ff0f2d;
}
.privacy-nav-bar-line.active1 {
  border-bottom: 3px solid #ff5c00;
}
.privacy-nav-bar-line.active2 {
  border-bottom: 3px solid #2ac437;
}
.privacy-nav {
  
  display: inline-flex;
  width: 300px;
  position: relative;
}
.privacy-nav-h {
  display: flex;
  width: 10px;
  height: 10px;
  margin-left: -5px;
  color: transparent;
  
  cursor: pointer;
  margin-top: -3px;
  z-index: 9;
  
  
  background: white;
  

  /*border: 2px solid;*/
  position: absolute;
  border-radius: 100%;
}

.privacy-nav .privacy-nav-title {
  width: 100%;
  text-align: center;
  padding-top: 15px
}

.active .privacy-nav-h {
  /*box-shadow: 0  0  0  15px rgba(0, 0, 0, 0.1);*/
  width: 35px;
  /*padding: 5px 11px;*/
  height: 35px;
  top: 0px;
  

}

.privacy-nav-h.ok0{
  color: transparent;
  
  transition: opacity .4s !important;
  background: #ff0f2d;
}
.privacy-nav-h.ok1 {
  color: transparent;
  
  transition: opacity .4s !important;
  background: #ff5c00;
}
.privacy-nav-h.ok2 {
  color: transparent;
  
  transition: opacity .4s !important;
  background: #2ac437;
}



.privacy-nav-h i {
  font-size: 20px;
  padding-top: 5px;
  color: #7d6369;
}
.general-api-logo-2{
    width:35px;

}
.privacy-nav-h .fa-wallet {
  padding: 7px 3px;
}
.privacy-nav-h .fa-tasks {
  padding: 7px 3px;
}

.privacy-nav-h .fa-map-marker-alt {
  padding: 7px 6px;
}

.privacy-nav-h .fa-fingerprint {
  padding: 8px 3px;
}

.privacy-nav-h .fa-handshake {
  padding: 8px 1px;
  color: #ff5c00;
}

.module-detail-view-description{
  
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 14px;
  font-weight: normal;
  
  letter-spacing: 0px;
  line-height: 24px;
}

.module-detail-view-title{
  color: rgb(50, 50, 50);
font-family: Roboto-Medium;
font-size: 16px;
font-weight: 500;
height: 40px;
letter-spacing: 0px;
line-height: 24px;

}

.module-detail-view-checkbox{
 

}

.module-detail-view-checkbox .label{
  
}

.module-detail-view-checkbox .checkbox {
  margin-right: 16px;
  margin-top: 6px;
  float: left;
}

.module-detail-view-checkbox .label{
  float: left;
  color: rgb(50, 50, 50);
  font-family: Roboto-Regular;
  font-size: 16px;
  font-weight: normal;

  letter-spacing: 0px;
  line-height: 40px;

}

.checkbox-container{
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
}

.module-detail-view-title-container{
  position: relative;
  margin-bottom: 28px;
  margin-top: 32px;
}
.checkbox-container .module-detail-view-checkbox{
 width: 210px;
}

.checkbox-container .module-detail-view-checkbox .label{
 width: 150px;
}


.module-detail-view-title-container .oauth_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: white;
    color: rgb(50, 50, 50);
    font-family: Roboto-Medium;
    font-size: 12px;
    font-weight: 500;
    height: 32px;
    letter-spacing: 0px;
    line-height: 32px;
    text-align: center;
    width: 144px;
    border-radius: 4px;
    border: 1px solid rgb(50, 50, 50);
    height: 32px;
    width: 144px;
}


.module-btn{
  background: rgb(239, 239, 239);
  border-radius: 4px;
  height: 40px;
  
  color: rgb(50, 50, 50);
font-family: Roboto-Medium;
font-size: 14px;
font-weight: 500;

letter-spacing: 0px;
line-height: 22px;
text-align: center;

padding-top: 8px;
    margin-right: 8px;

}

.module-btn:hover{
  background: rgb(231, 231, 231);
}

select{
  color: rgb(50, 50, 50);
font-family: Roboto-Regular;
font-size: 16px;
font-weight: normal;
height: 40px;
letter-spacing: 0px;
line-height: 20px;
}

